// CONSTANTS

$primaryColor: #f5f5f5;
$primaryColorInteracted: lighten($primaryColor, 7%);
$primaryColorLightened: lighten($primaryColor, 38%);
$secondaryColor: #dce2e8;
$secondaryColorInteracted: lighten($secondaryColor, 10%);
$secondaryColorLightened: lighten($secondaryColor, 33%);
$stroke: #dfdad8;
$strokeLight: lighten($stroke, 8%);
$strokeDarkened: darken($stroke, 8%);
$bgColorLight: #fff;
$bgColorLightened: #FAFAFA;
$bgColor: #f3f3f3;
$bgColorDarker: darken($bgColor, 1%);
$bgColorHeavy: $secondaryColor;
$successColor: #A7C958;
$warningColor: $primaryColor;
$warningLight: lighten($warningColor, 15%);
$successColor: #A5C850;
$accentColorLight: #ECECE6;
$fontSizeHeadline: 48px;
$lineHeightHeadline: $fontSizeHeadline*1.5;
$fontFamilySecondary: 'Playfair Display';
$fontSizeSubHeadline: 36px;
$accentColor: #ffde7c;

$fontColor: #333333;
$fontColorLight: #fff;
$fontColorLightened: #aaa;
$fontSize: 14px;
$fontSizeDesktop: 16px;
$fontSizeSmall: 13px;
$fontSizeSmallDesktop: 14px;
$fontSizeExtraSmall: 11px;
$fontSizeExtraSmallDesktop: 12px;
$fontSizeLarge: 18px;
$fontSizeLargeDesktop: 20px;
$fontFamily: "Apercu", sans-serif;
$fontWeightHeavy: 700;
$fontWeightNormal: 400;
$fontWeightLight: 200;
$lineHeight: 22px;
$lineHeightDesktop: 24px;

$buffer: 10px;
$radius: 4px;
$radiusFull: 100px;
$border: 1px solid $stroke;
$borderLight: 1px solid $strokeLight;
$navHeight: 80px;
$timing: .15s;
$easing: ease-in-out;
$transition: all $timing $easing;

$maxPageWidth: 1400px;
$navWidth: 300px;
$navWidthMobile: 200px;
$navHeightMobile: 90px;
$containedWidth: 600px;
$xs: 960px;
$xxs: 640px;

$peekZIndex: 1;
$navZIndex: 10;
$pageZIndex: 50;

// GLOBAL STYLES

body {
  margin: $buffer*2;
  font-family: $fontFamily;
}

// NAV STYLES

.nav {
  margin: $buffer*6;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: $navZIndex;
  .nav-list {
    list-style-type: none;
    margin: 0; padding: 0;
    display: flex;
    .nav-link {
      float: left;
      padding: $buffer*2 $buffer*3;
      text-decoration: none;
      color: $fontColor;
      background: $primaryColor;
      &:first-child {
        border-radius: $radius 0 0 $radius;
      }
      &:last-child {
        border-radius: 0 $radius $radius 0;
      }
      &:hover {
        background: $primaryColorInteracted;
      }
      .nav-item {

      }
    }
  }
}

// PEEK STYLES

.peek {
  z-index: $peekZIndex;
  pointer-events: none;
  height: 100vh;
  width: 100vw;
  position: fixed;
    .peek-case-study.peeked {
      opacity: 1;
      &.peek-case-study1 {
        left: -100px;
      }
      &.peek-case-study2 {
        top: -100px;
      }
      &.peek-case-study3 {
        right: -100px;
      }
      &.peek-case-study4 {
        bottom: -100px;
      }
    }
}

.peek-case-study {
  height: 300px;
  width: 300px;
  background: $primaryColor;
  position: fixed;
  // transition: $transition;

  &.peek-case-study1 {
    top: 20%;
    left: -300px;
    // transform: translateX(-100px) scale(.9);
    opacity: 0.5;
  }
  &.peek-case-study2 {
    left: 40%;
    top: -300px;
    // transform: translateY(-100px) scale(.9);
    opacity: 0.5;
    //transition-delay: .03s;
  }
  &.peek-case-study3 {
    top: 60%;
    right: -300px;
    // transform: translateX(100px) scale(.9);
    opacity: 0.5;
    //transition-delay: .06s;
  }
  &.peek-case-study4 {
    left: 35%;
    bottom: -300px;
    // transform: translateY(100px) scale(.9);
    opacity: 0.5;
    //transition-delay: .09s;
  }
}


// PAGES

.page {
  max-width: $maxPageWidth;
  margin: 0 auto;
}


// WORK PAGE

.case-study {
  width: calc(100% - #{$buffer*8});
  background: $primaryColor;
  padding: $buffer*4;
  margin: $buffer*4 0;
  min-height: 300px;

  h1, p {
    opacity: 0;
    transition: opacity .3s ease-in;
    &.shown {
      color: 'blue';
      opacity: 1;
    }
  }
}

.logo {
  width: 40px;
  fill: $fontColor;
}

.hero {
  padding: $buffer*2;
  height: 80vh;
  min-height: 600px;
  background-size: cover;
  background-position: center;
  color: $fontColor;
  overflow: hidden;
  position: relative;
  z-index: -1;

  @media only screen and (max-width: 640px) {
    padding: $buffer;
    height: 80vh;
    min-height: 200px;
    align-items: flex-end !important;

    .container {
      padding: 0;
    }
    h1.headline {
      font-size: 200% !important;
      line-height: 160% !important;
      z-index: 100;
    }
    p.subhead {
      font-size: 120%;
      line-height: 100%;
      margin-bottom: 0;
      z-index: 100;
    }
  }
  &.hero-index {
    background-color: $accentColorLight;
    z-index: 10 !important;
    // background-color: linear-gradient($accentColor, #FEC62E);
    // background: linear-gradient(#FFD667  10%, 50%,$accentColor 80%);
    .headline {
      font-size: $fontSizeHeadline;
      line-height: $lineHeightHeadline;
      color: $fontColor;
      font-weight: $fontWeightHeavy;
      font-family: $fontFamilySecondary;
    }
    .subhead {
      color: $fontColor;
      font-size: $fontSizeSubHeadline;
      line-height: $fontSizeSubHeadline*2;
    }
  }
  &.hero-workWith {
    // height: 3vh !important;
    // min-height: 400px;
    .headline {
      margin: 0;
      margin-bottom: $buffer;
    }
  }

  &.hero-workPage {
    // height: 3vh !important;
    // min-height: 400px;
    .headline {
      margin: 0;
      margin-bottom: $buffer;
    }
  }

  &.project-hero {
    margin-top: -$navHeight;
    padding-top: $navHeight;
  }

  &.hero-betterfin {
    background-color: #DBE3E0;
    align-items: center !important;
    .hero-image {
      max-width: 250px;
    }
  }
  &.hero-myxfitness {
    background-color: #f1f5f4;
  }
  &.hero-instructrr {
    background-color: #FFBB65;
  }
  &.hero-strive {
    background-color: #f0f2ff;
    align-items: center !important;
    .hero-image {
      max-width: 250px;
    }
  }
  &.hero-dv01 {
    background-color: #fafafa;
  }
  &.hero-agency {
    .hero-image {
      max-width: 100vw;
      margin-top: -$navHeight;
      z-index: -100;
    }
    @media only screen and (max-width: 640px) {
      h1.headline {
        // font-size: 140%;
        // line-height: 180%;
        // font-size: $fontSize !important;
        // line-height: $lineHeight !important;
      }
    }
  &.hero-h1 {
    background-color: #060464;
  }
}
}

.hero-image {
  max-width: 600px;
}

.emphasis {
  border-bottom: 3px solid $accentColor;
  font-weight: $fontWeightHeavy;
}

.hero-screenshot {
  position: absolute;
  height: 60vh;
  bottom: 0;
  right: calc(10%);
}

.hero-portfolio {
    background: $bgColorLightened;
    // color: $fontColorLight;
    p.subhead {
      // color: $fontColorLightened;
    }
    p.explaination {
      color: $fontColor;
      font-weight: $fontWeightHeavy;
      background: $accentColor;
      font-size: $fontSizeSmall;
      padding: $buffer*.75;
      margin-bottom: $buffer*2;
      position: absolute;
      bottom: 0;
      border-radius: 3px;
      @media only screen and (max-width: 640px) {
        position: relative;
        font-size: $fontSizeSmall !important;
        padding: $buffer*.25;
        margin-bottom: 0;
        margin-top: $buffer;
        text-align: center;
      }
    }
}
