body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.nav {
  padding: 16px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
}

.nav-content {
  height: calc(100vh - 32px);
}

.nav-link {
  margin-right: 16px;
  cursor: pointer;
}

.peek {
  z-index: 1;
  pointer-events: none;
  height: 100vh;
  width: 100vw;
  position: fixed;
}
.peek .peek-case-study.peeked {
  opacity: 1;
}
.peek .peek-case-study.peeked.peek-case-study1 {
  left: -100px;
}
.peek .peek-case-study.peeked.peek-case-study2 {
  top: -100px;
}
.peek .peek-case-study.peeked.peek-case-study3 {
  right: -100px;
}
.peek .peek-case-study.peeked.peek-case-study4 {
  bottom: -100px;
}

.peek-case-study {
  height: 300px;
  width: 300px;
  background: #f0f2ff;
  position: fixed;
}
.peek-case-study.peek-case-study1 {
  top: 20%;
  left: -300px;
  opacity: 0.5;
}
.peek-case-study.peek-case-study2 {
  left: 40%;
  top: -300px;
  opacity: 0.5;
}
.peek-case-study.peek-case-study3 {
  top: 60%;
  right: -300px;
  opacity: 0.5;
}
.peek-case-study.peek-case-study4 {
  left: 35%;
  bottom: -300px;
  opacity: 0.5;
}

.page {
  max-width: 1400px;
  margin: 0 auto;
}

.case-study {
  width: calc(100% - 64px);
  background: #f0f2ff;
  padding: 32px;
  margin: 32px 0;
  min-height: 300px;
}
.case-study h1, .case-study p {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}
.case-study h1.shown, .case-study p.shown {
  color: "blue";
  opacity: 1;
}

.logo {
  width: 40px;
  fill: #333333;
}

.hero {
  padding: 16px;
  height: 80vh;
  min-height: 600px;
  background-size: cover;
  background-position: center;
  color: #333333;
  overflow: hidden;
  position: relative;
  z-index: -1;
}
@media only screen and (max-width: 640px) {
  .hero {
    padding: 8px;
    height: 80vh;
    min-height: 200px;
    align-items: flex-end !important;
  }
  .hero .container {
    padding: 0;
  }
  .hero h1.headline {
    font-size: 200% !important;
    line-height: 160% !important;
    z-index: 100;
  }
  .hero p.subhead {
    font-size: 120%;
    line-height: 100%;
    margin-bottom: 0;
    z-index: 100;
  }
}
.hero.hero-index {
  background-color: #ECECE6;
  z-index: 10 !important;
}
.hero.hero-index .headline {
  font-size: 48px;
  line-height: 72px;
  color: #333333;
  font-weight: 700;
  font-family: "Playfair Display";
}
.hero.hero-index .subhead {
  color: #333333;
  font-size: 36px;
  line-height: 72px;
}
.hero.hero-workWith .headline {
  margin: 0;
  margin-bottom: 8px;
}
.hero.hero-workPage .headline {
  margin: 0;
  margin-bottom: 8px;
}
.hero.project-hero {
  margin-top: -80px;
  padding-top: 80px;
}
.hero.hero-betterfin {
  background-color: #DBE3E0;
  align-items: center !important;
}
.hero.hero-betterfin .hero-image {
  max-width: 250px;
}
.hero.hero-myxfitness {
  background-color: #f1f5f4;
}
.hero.hero-instructrr {
  background-color: #FFBB65;
}
.hero.hero-strive {
  background-color: #f0f2ff;
  align-items: center !important;
}
.hero.hero-strive .hero-image {
  max-width: 250px;
}
.hero.hero-dv01 {
  background-color: #fafafa;
}
.hero.hero-agency .hero-image {
  max-width: 100vw;
  margin-top: -80px;
  z-index: -100;
}
.hero.hero-agency.hero-h1 {
  background-color: #060464;
}

.hero-image {
  max-width: 600px;
}

.emphasis {
  border-bottom: 3px solid #ffde7c;
  font-weight: 700;
}

.hero-screenshot {
  position: absolute;
  height: 60vh;
  bottom: 0;
  right: calc(10%);
}

.hero-portfolio {
  background: #FAFAFA;
}
.hero-portfolio p.explaination {
  color: #333333;
  font-weight: 700;
  background: #ffde7c;
  font-size: 13px;
  padding: 6px;
  margin-bottom: 16px;
  position: absolute;
  bottom: 0;
  border-radius: 3px;
}
@media only screen and (max-width: 640px) {
  .hero-portfolio p.explaination {
    position: relative;
    font-size: 13px !important;
    padding: 2px;
    margin-bottom: 0;
    margin-top: 8px;
    text-align: center;
  }
}

/*# sourceMappingURL=styles.css.map */
