// CONSTANTS

$primaryColor: #d5e9cc;
$primaryColorInteracted: lighten($primaryColor, 7%);
$primaryColorLightened: lighten($primaryColor, 38%);
$secondaryColor: #dce2e8;
$secondaryColorInteracted: lighten($secondaryColor, 10%);
$secondaryColorLightened: lighten($secondaryColor, 33%);
$stroke: #dfdad8;
$strokeLight: lighten($stroke, 8%);
$strokeDarkened: darken($stroke, 8%);
$bgColorLight: #fff;
$bgColorLightened: #FAFAFA;
$bgColor: #f3f3f3;
$bgColorDarker: darken($bgColor, 1%);
$bgColorHeavy: $secondaryColor;
$successColor: #A7C958;
$warningColor: $primaryColor;
$warningLight: lighten($warningColor, 15%);
$successColor: #A5C850;

$fontColor: #333333;
$fontColorLight: #fff;
$fontColorLightened: #aaa;
$fontSize: 14px;
$fontSizeDesktop: 16px;
$fontSizeSmall: 13px;
$fontSizeSmallDesktop: 14px;
$fontSizeExtraSmall: 11px;
$fontSizeExtraSmallDesktop: 12px;
$fontSizeLarge: 18px;
$fontSizeLargeDesktop: 20px;
$fontFamily: "Roboto", sans-serif;
$fontWeightHeavy: 700;
$fontWeightNormal: 400;
$fontWeightLight: 200;
$lineHeight: 22px;
$lineHeightDesktop: 24px;

$buffer: 8px;
$radius: 4px;
$radiusFull: 100px;
$border: 1px solid $stroke;
$borderLight: 1px solid $strokeLight;
$navHeight: 80px;
$timing: .15s;
$easing: ease-in-out;
$transition: all $timing $easing;

$maxPageWidth: 1400px;
$navWidth: 300px;
$navWidthMobile: 200px;
$navHeightMobile: 90px;
$containedWidth: 600px;
$xs: 960px;
$xxs: 640px;

$peekZIndex: 1;
$navZIndex: 10;
$pageZIndex: 50;

// GLOBAL STYLES

body {
  margin: 0;
  font-family: $fontFamily;
}

// NAV STYLES

.nav {
  padding: $buffer*2;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: $navZIndex;
}
.nav-content {
  height: calc(100vh - #{$buffer*4});
}
.nav-link {
  margin-right: $buffer*2;
  cursor: pointer;
}

// PEEK STYLES

.peek {
  z-index: $peekZIndex;
  &.peek-work {
    .peek-case-study {
      transform: translate(0) scale(1);
      opacity: 1;
    }
  }
}

.peek-case-study {
  height: 300px;
  width: 300px;
  background: $primaryColor;
  position: fixed;
  transition: $transition;

  &.peek-case-study1 {
    top: 20%;
    left: -100px;
    transform: translateX(-100px) scale(.9);
    opacity: 0;
  }
  &.peek-case-study2 {
    left: 40%;
    top: -100px;
    transform: translateY(-100px) scale(.9);
    opacity: 0;
    transition-delay: .03s;
  }
  &.peek-case-study3 {
    top: 60%;
    right: -100px;
    transform: translateX(100px) scale(.9);
    opacity: 0;
    transition-delay: .06s;
  }
  &.peek-case-study4 {
    left: 35%;
    bottom: -100px;
    transform: translateY(100px) scale(.9);
    opacity: 0;
    transition-delay: .09s;
  }
}


// PAGES

.page {
  max-width: $maxPageWidth;
  margin: 0 auto;
}


// WORK PAGE

.case-study {
  background: $primaryColor;
  padding: $buffer*4;
  margin: $buffer*4 0;
}
