@import '../components/ui/mixins.scss';

// CONSTANTS

$primaryColor: #0577FB;
$primaryColorInteracted: lighten($primaryColor, 7%);
$primaryColorLightened: lighten($primaryColor, 38%);
$secondaryColor: #dce2e8;
$secondaryColorInteracted: lighten($secondaryColor, 10%);
$secondaryColorLightened: lighten($secondaryColor, 33%);
$stroke: #dfdad8;
$strokeLight: lighten($stroke, 8%);
$strokeDarkened: darken($stroke, 8%);
$bgColorLight: #fff;
$bgColorLightened: #f5f5f5;
$bgColor: #f3f3f3;
$bgColorDarker: darken($bgColor, 1%);
$bgColorHeavy: $secondaryColor;
$bgColorWorkCard: #f0f2f5;
$successColor: #A7C958;
$warningColor: $primaryColor;
$warningLight: lighten($warningColor, 15%);
$successColor: #A5C850;
$accentColorLight: #ECECE6;
$accentColor: #ffde7c;

$fontColor: #222222;
$fontColorLight: #fff;
$fontColorLightened: #aaa;
$fontSize: 14px;
$fontSizeDesktop: 18px;
$fontSizeSmall: 13px;
$fontSizeSmallDesktop: 14px;
$fontSizeExtraSmall: 11px;
$fontSizeExtraSmallDesktop: 12px;
$fontSizeLarge: 24px;
$fontSizeLargeDesktop: 22px;
// $fontSizeLargeDesktop: 1.vw;
$fontFamily: "Apercu", sans-serif;
$fontWeightHeavy: 700;
$fontWeightNormal: 400;
$fontWeightLight: 200;
$lineHeight: 22px;
$lineHeightDesktop: 38px;
$fontSizeHeadline: 100px;
// $fontSizeHeadline: 20px;
$lineHeightHeadline: $fontSizeHeadline*1.5;
$fontSizeSubHeadline: 22px;
$fontSizeStatement: 42px;
$lineHeightStatement: $fontSizeStatement*1.5;

$buffer: 10px;
$radius: 4px;
$radiusFull: 100px;
$border: 1px solid $stroke;
$borderLight: 1px solid $strokeLight;
$navHeight: 80px;
$timing: .15s;
$easing: ease-in-out;
$transition: all $timing $easing;

$maxPageWidth: 1400px;
$navWidth: 300px;
$navWidthMobile: 200px;
$navHeightMobile: 90px;
$containedWidth: 600px;
$xs: 960px;
$xxs: 640px;

$peekZIndex: 1;
$navZIndex: 10;
$pageZIndex: 50;

// GLOBAL STYLES

body {
  margin: 0 auto;
  font-family: $fontFamily;
  font-weight: $fontWeightLight;
  overflow-x: hidden;
}

// LOGO STYLES

.logo {
  margin: $buffer*6;
  position: fixed;
  z-index: $navZIndex;
  top: 0;
  left: 0;
  .universe {
    width: 6px; height: 6px;
    border-radius: $radiusFull;
    background: $primaryColor;
    margin: 0 auto;
  }
  .agency-name {
    margin-top: $buffer*2;
    color: $primaryColor;
    font-weight: $fontWeightNormal;
  }
  @include breakpoint(xs) {
    margin: $buffer*3;
  }
}

// NAV STYLES

.nav {
  margin: $buffer*6;
  font-size: $fontSize;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: $navZIndex;
  .nav-list {
    list-style-type: none;
    margin: 0; padding: 0;
    display: flex;
    .nav-link {
      float: left;
      padding: $buffer*2 $buffer*4;
      text-decoration: none;
      color: $fontColorLight;
      background: $primaryColor;
      @include transition;
      &.active {
        background: $primaryColorInteracted;
      }
      &:first-child {
        border-radius: $radius 0 0 $radius;
      }
      &:last-child {
        border-radius: 0 $radius $radius 0;
      }
      &:hover {
        background: $secondaryColor;
        @include transition;
      }
      .nav-item {
      }
    }
  }
  @include breakpoint(xs) {
    margin: $buffer*3;
    .nav-list {
      .nav-link {
        padding: $buffer*2;
      }
    }
  }
}

// PEEK STYLES

.peek-case-study {
  width: 40vw;
  height: 30vw;
  background: #ccc;
  position: fixed;
  opacity: 0;
  &.peek-case-study1 {
    left: 40vw;
    top: -20vw;
  }
  &.peek-case-study2 {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
  }
  &.peek-case-study3 {
    left: 20vw;
    bottom: -20vw;
  }
}
.peek-member-image {
  width: 20vw;
  height: 30vw;
  background: #ccc;
  position: fixed;
  overflow: hidden;
  display: flex;
  justify-content: center;
  opacity: 0;
  &.peek-member-zach{
    top: -5vw;
    left: 20vw;
  }
  &.peek-member-adrian{
    top: -5vw;
    right: 25vw;
  }
  &.peek-member-alana{
    bottom: 10vw;
    right: -5vw;
  }
  &.peek-member-eugene{
    bottom: -10vw;
    right: 30vw;
  }
  &.peek-member-taylor{
    top: 25vw;
    left: -5vw;
  }
}

.peek-approach-value {
  width: 50vw;
  height: 30vw;
  background: #ccc;
  position: fixed;
  opacity: 0;
  &.peek-value-1{
    top: -10vw;
    left: -5vw;
    -webkit-transform: rotate(1deg);
  }
  &.peek-value-2{
    top: 5vw;
    right: -5vw;
    -webkit-transform: rotate(-1deg);
  }
  &.peek-value-3{
    bottom: 10vw;
    left: -10vw;
    -webkit-transform: rotate(-1deg);
  }
  &.peek-value-4{
    bottom: -10vw;
    right: 5vw;
    -webkit-transform: rotate(-1deg);
  }
}


.peek {
  z-index: $peekZIndex;
  pointer-events: none;
  height: 100vh;
  width: 100vw;
  position: fixed;
  // display: flex;
  .peeked, .unpeeked {
    img {
      width: auto; height: 100%;
    }
  }
    .peek-case-study.peeked {
      opacity: 1;
      &.peek-case-study1 {
        -webkit-transform: translateX($buffer) translateY($buffer);
      }
      &.peek-case-study2 {
        position: fixed;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
      }
      &.peek-case-study3 {
        -webkit-transform: translateX($buffer) translateY($buffer);
      }
    }
    .peek-member-image.peeked {
      opacity: 1;
      overflow: hidden;
      display: flex;
      justify-content: center;
      &.peek-member-zach{
        -webkit-transform: translateX($buffer) translateY($buffer);
      }
      &.peek-member-adrian{
        -webkit-transform: translateX(-$buffer) translateY($buffer);
      }
      &.peek-member-alana{
        -webkit-transform: translateX(-$buffer) translateY(-$buffer);
      }
      &.peek-member-eugene{
        -webkit-transform: translateX($buffer) translateY(-$buffer);
      }
      &.peek-member-taylor{
        -webkit-transform: translateX($buffer) translateY(-$buffer);
      }
    }
    .peek-approach-value.peeked {
      opacity: 1;
      &.peek-value-1{
        top: -5vw;
        left: -5vw;
        -webkit-transform: rotate(-1deg);
      }
      &.peek-value-2{
        top: 5vw;
        right: -5vw;
        -webkit-transform: rotate(-1deg);
      }
      &.peek-value-3{
        bottom: -5vw;
        left: -10vw;
        -webkit-transform: rotate(-1deg);
      }
      &.peek-value-4{
        bottom: -15vw;
        right: 5vw;
        -webkit-transform: rotate(-1deg);
      }
    }
}





// PAGES

.page {
  max-width: $maxPageWidth;
  margin: 0 auto;
}

.content-container {
  // margin: 0 $buffer*3 0 $buffer*3;
  margin: $buffer*3;
  justify-content: center;
  align-items: center;
  @include breakpoint(xs) {
    margin: $buffer*1.5;
  }
}


// WORK PAGE

.hero {
  height: 90vh;
  text-align: center;
  &.project-hero {
    background: $bgColorWorkCard;
  }
  img.hero-image {
    height: 100%;
  }
  h1 {
    font-weight: 300;
    font-size: $fontSizeHeadline;
  }
  p.subhead {
    color: $fontColorLightened;
    font-weight: 300;
    font-size: $fontSizeSubHeadline;
  }
}

.work-card-link {
  &:hover {
    @include transition;
    opacity: .95;
    cursor: pointer;
    @include transition;
  }
  text-decoration: none;
}
.work-card {
  margin: 0 auto;
  height: 80vh;
  background: $bgColorWorkCard;
  padding: $buffer*6;
  font-size: $fontSizeLargeDesktop;
  line-height: $lineHeightDesktop;
  .project-details {
    margin-bottom: 0;
    .project-name {
      color: $fontColor;
    }
    .project-type {
      color: $fontColorLightened;
    }
  }
  @include breakpoint(xs) {
    font-size: $fontSizeDesktop;
    line-height: $lineHeight;
    padding: $buffer*3;
    height: 60vh;
  }
}

.work-together {
  padding: $buffer*30 $buffer*3;
  @include breakpoint(xs) {
    padding: $buffer*3 $buffer*2;
  }
  text-align: center;
  h1 {
    font-weight: 300;
    font-size: $fontSizeStatement;
  }
  @include breakpoint(xs) {
    height: 90vh;
  }
}

button {
  border-radius: $radius*10;
  padding: $buffer*2 $buffer*4;
  align-items: center;
  box-shadow: none;
  border: $border;
  cursor: pointer;
  &.mailUs {
    background: $bgColorLight;
    width: 200px !important;
    @include transition;
    svg {
      stroke: $stroke;
      @include transition;
    }
    &:hover {
      cursor: pointer;
      border: 1px solid $fontColor;
      @include transition;
      svg {
        stroke: $fontColor;
        @include transition;
      }
    }
  }
}

.work-opener {
  // height: 80vh;
  padding: $buffer*20 0;
  @include breakpoint(xs) {
    padding: $buffer*3 0;
  }
  .opener-list {
    ul {
      list-style-type: none;
      margin: 0; padding: 0;
      li {
        color: $fontColorLightened;
        font-size: $fontSizeDesktop;
        line-height: $lineHeight*1.25;
      }
    }
  }
  .opener-paragraph {
    font-size: $fontSizeLargeDesktop;
    line-height: $lineHeightDesktop;
  }
  @include breakpoint(sm) {
    .opener-list {
      margin-bottom: $buffer*3;
    }
  }
}
.work-text-centered, .work-text-quote {
  padding: $buffer*20 0;
  @include breakpoint(xs) {
    padding: $buffer*3 0;
  }
  .work-text-author {
    color: $fontColorLightened;
    font-size: $fontSizeDesktop;
    margin-top: $buffer*6;
    text-align: center;
  }
  .work-text-title{
    color: $fontColorLightened;
    font-size: $fontSizeLargeDesktop;
    margin-bottom: $buffer*6;
    text-align: center;
  }
  .work-text-paragraph {
    font-size: $fontSizeLargeDesktop;
    line-height: $lineHeightDesktop;
  }
}

.work-image-left, .work-image-right {
  height: 100vh;
  @include breakpoint(xs) {
    padding: $buffer*20 0;
    padding: $buffer*3 0;
    height: 100%;
  }
  margin-bottom: $buffer*3;
  .work-image {
    overflow: hidden;
    height: 100vh;
    width: 100%;
    background: $bgColorWorkCard;
    padding: $buffer*30 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    @include breakpoint(xs) {
      padding: $buffer*20 0;
      padding: $buffer*3 0;
      height: 50vh;

    }
    img {
      width: 80%;
      position: absolute;
    }
  }
  .work-image-text {
    align-items: center;
    height: 100vh;
    display: flex;
    @include breakpoint(xs) {
      padding: $buffer*20 0;
      padding: $buffer*3 0;
      height: auto;
    }
    .work-image-headline {
      font-size: $fontSizeLargeDesktop;
      line-height: $lineHeightDesktop;
    }
    .work-image-description {
      color: $fontColorLightened;
      font-size: $fontSizeLargeDesktop;
      line-height: $lineHeightDesktop;
    }
  }
}

.work-text-metric {
  height: 60vh;
  text-align: center;
  .work-metric-number {
    font-size: $fontSizeHeadline;
    font-weight: $fontWeightLight;
  }
  .work-metric-name {
    font-size: $fontSizeDesktop;
    color: $fontColorLightened;
  }
}


.work-next-project {
  padding: $buffer*30 $buffer*3;
  @include breakpoint(xs) {
    padding: $buffer*3 $buffer*2;
  }
  width: 30vw;
  .work-next-link {
    text-decoration: none;
    color: $fontColor;
  }
  .image-container {
    -webkit-transform: rotate(1deg);
    @include transition;
    &:hover {
      @include transition;
      -webkit-transform: rotate(0deg);
      cursor: pointer !important;
    }
    .next-project-label {
      color: $fontColorLightened;
      font-size: $fontSizeDesktop;
      margin-bottom: $buffer*3;
    }
    .next-project-image {
      background: $bgColorWorkCard;
      width: 100%;
      height: 40vh;
    }
    .project-details {
      font-size: $fontSizeDesktop;
      line-height: $lineHeightDesktop;
      margin-bottom: 0;
      .project-name {
      }
      .project-type {
        color: $fontColorLightened;
      }
    }
  }
}

//About

.about-image {
  margin: 0 auto;
  height: 90vh;
  background: $bgColorWorkCard;
}

.member-image-left, .member-image-right {
  margin-bottom: $buffer*3;
  height: 90vh;
   .member-image {
     background: $bgColorWorkCard;
     overflow: hidden;
     width: 100%;
     height: 90vh;
     display: flex;
     justify-content: center;
     position: relative;
     img {
       height: 100%;
       position: absolute;
     }
   }
   .member-image-text {
     height: 90vh;
     align-items: center;
     display: flex;
     .member-image-name {
       font-size: $fontSizeLargeDesktop;
       line-height: $lineHeightDesktop;
       margin-bottom: 0;
     }
     .member-image-description {
       color: $fontColorLightened;
       font-size: $fontSizeDesktop;
       line-height: $lineHeightDesktop;
     }
     .member-image-interests {
       color: $fontColorLightened;
       font-size: $fontSize;
       line-height: $lineHeightDesktop;
     }
   }
}

.about-member-history {
  height: 100vh;
  .member-history-container {
    background: $bgColorWorkCard;
    width: 50vw;
    height: 600px;
  }
  .description {
    text-align: center;
    margin-top: $buffer*6;
    color: $fontColorLightened;
    font-size: $fontSizeDesktop;
    line-height: $lineHeightDesktop;
  }
}

//Approach

.approach-statement {
  height: 70vh;
  // background: #00000a;
  margin-bottom: $buffer*3;
  .approach-card {
  background: #f5f5f5;
  height: 70vh;
  display: flex;
  align-items: center;
  }
  .approach-statement-title {
    color: $fontColorLightened;
    font-size: $fontSizeLargeDesktop;
    line-height: $lineHeightDesktop;
    // font-size: $fontSizeHeadline;
    // line-height: $lineHeightHeadline;
    text-align: center;
    margin-bottom: $buffer*6;
  }
  .approach-statement-paragraph {
    color: $fontColor;
    font-size: $fontSizeLargeDesktop;
    line-height: $lineHeightDesktop;
  }
}
.articles-section {
  margin: $buffer*12 0;
  .approach-article {
    padding: $buffer*3 0;
    .article-title {
      color: $fontColorLightened;
      font-size: $fontSizeDesktop;
      line-height: $lineHeight*1.5;
    }
    .article-summary {
      font-size: $fontSizeLargeDesktop;
      line-height: $lineHeightDesktop;
    }
  }
}

.approach-image-left {
    height: 90vh;
    margin-bottom: $buffer*3;
    .approach-image {
      background: #ccc;
      overflow: hidden;
      width: 100%;
      height: 90vh;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      img {
        // height: 100%;
        width: 100%;
        position: absolute;
        opacity: .90;
      }
}
.approach-image-text {
  height: 90vh;
  align-items: center;
  display: flex;
  .approach-image-headline {
    font-size: $fontSizeLargeDesktop;
    line-height: $lineHeightDesktop;
    margin-bottom: 0;
  }
  .approach-image-description {
    color: $fontColorLightened;
    font-size: $fontSizeLargeDesktop;
    line-height: $lineHeightDesktop;
  }
}
}
