$primaryColor: #0577FB;
$primaryColorInteracted: lighten($primaryColor, 7%);
$primaryColorLightened: lighten($primaryColor, 38%);
$secondaryColor: #166ACB;
$secondaryColorInteracted: lighten($secondaryColor, 10%);
$secondaryColorLightened: lighten($secondaryColor, 33%);
$stroke: #dfdad8;
$strokeLight: lighten($stroke, 8%);
$strokeDarkened: darken($stroke, 8%);
$bgColorLight: #fff;
$bgColorLightened: #f5f5f5;
$bgColor: #f3f3f3;
$bgColorDarker: darken($bgColor, 1%);
$bgColorHeavy: $secondaryColor;
$bgColorWorkCard: #f0f2f5;


$bgColorNextWork: #ccc;

$bgColorWork: #f0f2f5;
$successColor: #A7C958;
$warningColor: $primaryColor;
$warningLight: lighten($warningColor, 15%);
$successColor: #A5C850;
$accentColorLight: #ECECE6;
$accentColor: #ffde7c;


//NEWSITE
$buffer: 10px;

$yellow:                #F5E1A4;
$pink:                  #D7A9E3;
$darkGreen:             #18332F;
$darkGreenLightened:    lighten($darkGreen, 20%);
$lightGreen:            #D1E0D7;
$darkBlue:              #142E7B;
$lightBlue:             #C6DAE7;

$bgColor:               #ffffff;
$bgColorDark:           #11111a;

$fontSizeHeadline:      8vw;
$lineHeightHeadline:    $fontSizeHeadline*1.5;
$fontSizeHeadlineMobile:      18vw;
$lineHeightHeadlineMobile: $fontSizeHeadlineMobile*1.2;
$fontSizeSubHeadline:   22px;
$lineHeightSubHeadline: $fontSizeSubHeadline*1.5;

//NEWSITE

$fontColor: #222222;
$fontColorLight: #fff;
$fontColorLightened: #aaa;
$fontColorLightest: #ddd;
$fontSize: 18px;
$fontSizeDesktop: 1.5vw;
$fontSizeMobile: 5vw;
$lineHeightMobile: $fontSizeMobile*1.5;
$fontSizeSmall: 18px;
$fontSizeSmallDesktop: 1.25vw;
$fontSizeExtraSmall: 11px;
$fontSizeExtraSmallDesktop: 12px;
$fontSizeLarge: 24px;
$fontSizeLargeDesktop: 24px;
// $fontSizeLargeDesktop: 1.vw;
$fontFamily: "Founders Grotesk Regular", sans-serif;
$fontFamilyMedium: "Founders Grotesk Medium", sans-serif;
$fontFamilyCond: "Founders Grotesk X-Condensed Regular", sans-serif;
$fontFamilyCondMedium: "Founders Grotesk X-Condensed Medium", sans-serif;
$fontWeightHeavy: 700;
$fontWeightNormal: 400;
$fontWeightLight: 200;
$lineHeight: 26px;
$lineHeightLarge: 42px;
$lineHeightDesktop: $fontSizeDesktop*1.5;
$lineHeightLargeDesktop: $fontSizeLargeDesktop*2;
// $fontSizeHeadline: 50px;
// $fontSizeHeadline: 20px;



$fontSizeStatement: 38px;
$lineHeightStatement: $fontSizeStatement*1.5;

$offsetValue: $buffer*6;
$radius: 4px;
$radiusFull: 100px;
$border: 1px solid $stroke;
$borderLight: 1px solid $strokeLight;
$navHeight: 80px;
$timing: .25s;
$easing: cubic-bezier(0.645, 0.045, 0.355, 1);;
$transition: all $timing $easing;

$maxPageWidth: 1400px;
$navHeight: 170px;
$navWidth: 300px;
$navWidthMobile: 200px;
$navHeightMobile: 90px;
$containedWidth: 600px;
$xs: 960px;
$xxs: 640px;

$peekZIndex: 1;
$navZIndex: 10;
$pageZIndex: 50;
