@mixin test {
  border: 1px solid blue !important;
}

@mixin transition {
  transition: all $timing $easing;
}

@mixin ellipsis($width) {
  width: $width;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin uppercase {
  text-transform: uppercase;
  letter-spacing: 2px;
}

@mixin shadow {
  box-shadow: 0px 1px 15px 1px rgba(69,65,78,0.06);
}

@mixin shadowSmall {
  box-shadow: 0px 1px 8px 1px rgba(69, 65, 78, 0.15);
}

@mixin shadowPrimary {
  box-shadow: 0px 1px 15px 1px rgba($primaryColor,0.15);
}

@mixin container {
  padding: $buffer*6;
  margin-bottom: $buffer*3;
}

@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}
